containerized: true

openshift_release: 3.7
openshift_version: 3.7.0

openshift_hostname: "{{ private_ip }}"
openshift_master_default_subdomain: "{{ hostvars[groups['nodes'][0]].public_ip }}.xip.io"
openshift_ip: "{{ private_ip }}"
openshift_public_hostname: "{{ public_ip }}"
openshift_public_ip: "{{ public_ip }}"

openshift_disable_check: memory_availability,disk_availability,docker_storage

openshift_hosted_registry_storage_kind: glusterfs

openshift_logging_install_logging: false

openshift_hosted_prometheus_deploy: true
openshift_prometheus_storage_type: pvc
openshift_prometheus_alertmanager_storage_type: pvc
openshift_prometheus_alertbuffer_storage_type: pvc

openshift_enable_service_catalog: false

openshift_management_install_management: false

images_to_cache:
- name: openshift/openvswitch
  tag: "v{{ openshift_version }}"
- name: openshift/node
  tag: "v{{ openshift_version }}"
- name: openshift/origin
  tag: "v{{ openshift_version }}"
- name: openshift/origin-pod
  tag: "v{{ openshift_version }}"
- name: registry.fedoraproject.org/f26/etcd
  tag: latest
- name: gluster/gluster-centos
  tag: latest
- name: heketi/heketi
  tag: latest
